{% extends 'base.html' %}
{% load static %}
{% block body %}
<div class="container view">
    <h1>Members</h1>
    <div class="contact-details">
        <p>6310610941 Chanathinad Phispratuang</p>
        <p>6310611014 Chawanrat Sabenjapakin</p>
        <p>6310611030 Phattarakorn Kaewchukul</p>
        <p>6310611089 Nittha Kaewsombut</p>
    </div>
    <div class="actions-btn mt-4">
        <button type="" class="btn btn-dark me-3"><a href="{% url 'index' %}">Back</a></button>
    </div>
</div>
{% endblock %}